<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="/css/jquery-ui-1.8.22.custom.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>
            function showCustomer(str)
            {
              var xmlhttp;    
              if (str=="")
              {
                document.getElementById("txtHint").innerHTML="";
                return;
              }
              if (window.XMLHttpRequest)
              {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp=new XMLHttpRequest();
              }
              else
              {
                // IE6, IE5 浏览器执行代码
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
              xmlhttp.onreadystatechange=function()
              {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                  // document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
                }
              }
              xmlhttp.open("GET","scoresec?q="+str,true);
              xmlhttp.send();
            }
            </script>
    <script>
        var limit_score;
        var fir=null;
        $(document).ready(function () {
            $('#opscorefir').change(function (value) {
                console.log($('#opscorefir').val())
                var scorefir=$('#opscorefir').val()
                $('#first').empty();
                $.ajax({
                    url:"scoresec",
                    type:"get",
                    data:{
                        q:scorefir
                    },
                    success:function (res) {
                        console.log(res)
                        fir=res;
                        $('#first').append($("<option></option>").text('未选择'))
                        for (var i=0;i<res.length;i++) {
                            //遍历添加op选项
                            if (res[i].classinfo=="减分") {
                                var op = $("<option></option>").text(res[i].scoresecinfo + "   " + res[i].score + "分")
                                var oped = $('#first').append(op)
                                op.attr('value', res[i].scoresecid)
                            }
                        }
                    }
                })
            })
            $('#first').change(function () {
                console.log($('#first').val())
                var first=$('#first').val()
                for (var i=0;i<fir.length;i++){
                    if (fir[i].scoresecid==first){
                        $('#opscoreclass').val(fir[i].classinfo)
                        limit_score=fir[i].score;
                    }
                }
                $('#score').removeAttr('readonly')
            })
            $('#score').change(function () {
                if ($('#score').val()>limit_score){
                    $('#score').val(null)
                    parent.layer.alert("超过学分上限");
                }
            })
        })
    </script>
</head>
<body>
    
    <form method="post" action="scoreoperationrun">
    <table class="table table-striped table-bordered table-condensed list">
        <thead>
            <tr>
                <td colspan="6"><b><strong>被操作人(学生)信息1111</strong></b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width=><strong>被操作人(学生)学号</strong></td>
                <td colspan="5" width="80%"><input type="hidden" name="stuid" value="{$data2.s_id}" />{$data2.s_id}
                </td>
            </tr>
            <tr>
                <td width="15%"><strong>被操作人(学生)姓名：</strong></td>
                <td width="15%">
                        <input type="hidden" name="stuname" value="{$data2.s_name}" />{$data2.s_name}
                </td>
                <td width="15%"><strong>性别：</strong></td>
                <td width="15%">
                        <input type="hidden" name="stusex" value="{$data2.s_sex}" />{$data2.s_sex}
                    </td>
                <td width="15%"><strong>班级：</strong></td>
                <td width="25%">
                        <input type="hidden" name="stuclass" value="{$data2.s_class}" />{$data2.s_class}</td>
            </tr>
            <tr>
                <td ><strong>所在学院：</strong></td>
                <td >
                    <input type="hidden" name="opcollege" value="{$data2.collegeid}" />{$data2.collegeinfo}
                </td>
                <td ><strong>所在专业：</strong></td>
                <td >
                        <input type="hidden" name="opmajor" value="{$data2.majorid}" /> {$data2.majorinfo}
                    </td>
                <td ><strong>辅导员：</strong></td>
                <td >
                        <input type="hidden" name="opteacher" value="{$data2.teacherid}" />{$data2.teacherinfo}
                    </td>
            </tr>     
        </tbody>
    </table>
    <table class="table table-striped table-bordered table-condensed list">
            <thead>
                <tr>
                    <td colspan="6"><b><strong>操作人信息</strong></b></td>
                </tr>
            </thead>
            <form method="post" action="informationmodify">
            <tbody>
                <tr>
                    <td ><strong>操作人用户名：</strong></td>
                    <td  ><input type="hidden" name="opusername" value="{$data.username}" />{$data.username}</td>
                    <td ><strong>操作人权限：</strong></td>
                    <td colspan="3">
                        <input type="hidden" name="opjurisdiction" value="{$data.jurisdiction}" />{$data.jurisdictioninfo}
                    </td>
                </tr>
                <tr>
                    <td width="15%"><strong>操作人姓名：</strong></td>
                    <td width="15%">
                            <input type="hidden" name="opname" value="{$data.u_name}" />{$data.u_name}
                    </td>
                    <td width="15%"><strong>操作人所属单位：</strong></td>
                    <td width="15%">
                            <input type="hidden" name="opclass" value="{$data.u_class}" />{$data.userinfo}</td>
                    <td width="15%"><strong>操作人所属单位名称：</strong></td>
                    <td width="25%">
                            <input type="hidden" name="opclassinfo" value="{$data.u_classinfo}" />{$data.collegeinfo}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-bordered table-condensed list">
                <thead>
                    <tr>
                        <td colspan="6"><b><strong>操作信息</strong></b></td>
                    </tr>
                </thead>
                <form method="post" action="informationmodify">
                <tbody>
                        <tr>
                                <td ><strong>学分操作一级分类：</strong></td>
                                <td >
                                        <select name="opscorefir" onchange="showCustomer(this.value)" id="opscorefir" >
                                                <option value="">未选择</option>    
                                            {volist name='data3' id='list'}
                                                <option value="{$list.scoreid}">{$list.scoreinfo}</option>
                                                 {/volist}
                                        </select>
                                </td>
                                <td ><strong>学分操作二级分类：</strong></td>
                                <td colspan="3">
<!--                                        <div id="txtHint">选择一级分类后将会显示</div>-->
                                    <select name="opscoresec" id="first">

                                    </select>
                                </td>
                            </tr>
                    <tr>
                        <td width="15%"><strong>操作类型：</strong></td>
                        <td width="15%">
                            <input type="text" id="opscoreclass" name="opscoreclass" readonly>
                        </td>
                        <td width="15%"><strong>操作分值：</strong></td>
                        <td width="15%">
                            <input type="text" placeholder="请输入加分/减分分数" name="score" id="score" readonly>
<!--                            <select name="score">-->
<!--                                        <option value="">未选择</option>-->
<!--                                        <option value="1">1分</option>-->
<!--                                        <option value="2">2分</option>-->
<!--                                        <option value="3">3分</option>-->
<!--                                        <option value="4">4分</option>-->
<!--                                        <option value="5">5分</option>-->
<!--                                        <option value="6">6分</option>-->
<!--                                        <option value="7">7分</option>-->
<!--                                        <option value="8">8分</option>-->
<!--                                        <option value="9">9分</option>-->
<!--                                        <option value="10">10分</option>-->
<!--                                        <option value="11">11分</option>-->
<!--                                        <option value="12">12分</option>-->
<!--                                    </select>       -->
                        </td>
                        <td width="15%"><strong>操作状态：</strong></td>
                        <td width="25%">提交后需经过审核
                               
                    </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
        
                            <input class="btn btn-inverse" id="find" type="submit" value="提交" />
                    </tr>
                </tfoot>
            </from>
            </table>
</body>
</html>
