<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="/css/jquery-ui-1.8.22.custom.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/static/lib/layui-master/dist/layui.js"></script>
    <link rel="stylesheet" href="/static/lib/layui-master/dist/css/layui.css"/>
    <script>
        layui.use(['layer', 'form'], function(){
            var layer = layui.layer
                ,confirm = layui.confirm
                ,form=layui.form;
            $("input[id='sec']").attr('readonly',true);
            form.on('checkbox', function(data){
                    //确认取消了一个一级功能点的选择
                     if (!(data.elem.checked)){
                        console.log('确认取消')
                         console.log(data)
                        if (data.elem.id=='frt'){
                            console.log('确认取消了一个一级功能点的选择')
                            a='.'+data.value
                            $(a).hide()
                            form.render()
                        }else if(data.elem.id=='sl1'){
                            $('.select1').hide();
                            form.render();
                        }else if(data.elem.id=='sl2'){
                            $('.select2').hide();
                            form.render();
                        }
                    }
                    //确认选中了一个一级功能点
                    else if(data.elem.checked==true){
                        if (data.elem.id=='frt'){
                            console.log('确认选中了一个一级功能点')
                            a='.'+data.value
                            b=a+'>input'
                            $(a).show()
                            $("input[id='sec']").css({"display":"none"})
                            $(b).prop('checked',false)
                            form.render();
                        }
                        else if(data.elem.id=='sl1'){

                            if ($('#sl2').prop('checked')){
                                layer.msg('不可重复选择')
                                $('#sl1').prop('checked',false)
                            }else {
                                $('.select1').show();
                            }
                            form.render();
                        }else if(data.elem.id=='sl2'){
                            if ($('#sl1').prop('checked')){
                                layer.msg('不可重复选择')
                                $('#sl2').prop('checked',false)
                            }else{
                                $('.select2').show();
                            }
                            form.render();
                        }
                    }
                    else{
                        $("input:checkbox:checked").prop('checked',false)
                        layer.msg('请先选择自定义权限')
                        form.render();
                    }

                console.log(data.elem.id); //得到checkbox原始DOM对象
                console.log(data.elem.checked); //是否被选中，true或者false
                console.log(data.value); //复选框value值，也可以通过data.elem.value得到
                console.log(data.othis); //得到美化后的DOM对象
            });
            form.on('select',function (data) {
                console.log(data.elem); //得到select原始DOM对象
                console.log(data.value); //得到被选中的值
                console.log(data.othis); //得到美化后的DOM对象
                if (data.value==11){
                    $(".diy-auth").show();
                    form.render();
                }else if(data.elem.id=='u_class'){
                    console.log(1)
                    var str=data.elem.value;
                    var xmlhttp;
                    if (str=="")
                    {
                        document.getElementById("txtHint").innerHTML="";
                        return;
                    }
                    if (window.XMLHttpRequest)
                    {
                        // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                        xmlhttp=new XMLHttpRequest();
                    }
                    else
                    {
                        // IE6, IE5 浏览器执行代码
                        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    xmlhttp.onreadystatechange=function()
                    {
                        if (xmlhttp.readyState==4 && xmlhttp.status==200)
                        {
                            document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
                            console.log(xmlhttp.responseText)
                            form.render();
                        }
                    }
                    xmlhttp.open("GET","userclassmore?q="+str,true);
                    xmlhttp.send();
                    form.render();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {

        })
    </script>
    <script>
        $(document).ready(function () {
            var frt=[];
            var sec=[];
            $('.select2').hide()//一开始便隐藏两种模式的具体选择方式
            $('.select1').hide()
            $(".diy-auth").hide();
            $("div[id='secmod']").hide();
            // console.log()
            $("#confirm").click(function (obj) {
                       layer.confirm('请确认以上就是该权限的权限范围', {icon: 0, title:'确认'}, function(index){
                           $("input[id='frt']:checkbox:not(:checked)").each(function (index, item) {
                               frt.push($(this).val());
                               $('.allfrt').val(frt.join(","))
                           });
                           $("input[id='sec']:checkbox:not(:checked)").each(function (index, item) {
                               sec.push($(this).val());
                               $('.allsec').val(sec.join(","))
                           });
                           console.log(frt.join(","));
                           console.log(sec.join(","));
                           layer.close(index);
                       })
                   })
        })
    </script>
    <script>
        // function showCustomer(str)
        // {
        //   var xmlhttp;
        //   if (str=="")
        //   {
        //     document.getElementById("txtHint").innerHTML="";
        //     return;
        //   }
        //   if (window.XMLHttpRequest)
        //   {
        //     // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
        //     xmlhttp=new XMLHttpRequest();
        //   }
        //   else
        //   {
        //     // IE6, IE5 浏览器执行代码
        //     xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        //   }
        //   xmlhttp.onreadystatechange=function()
        //   {
        //     if (xmlhttp.readyState==4 && xmlhttp.status==200)
        //     {
        //       document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
        //     }
        //   }
        //   xmlhttp.open("GET","userclassmore?q="+str,true);
        //   xmlhttp.send();
        // }
        </script>

</head>
<body>
<!--    <div class="layui-form">-->
    <div class="layui-form layui-anim layui-anim-scaleSpring">
    <div class="alert alert-info">当前位置<b class="tip"></b>用户管理<b class="tip"></b>添加用户</div>
    <table class="table table-striped table-bordered table-condensed list layui-table" lay-skin="nob">
        <thead>
            <tr>
                <td colspan="6"><b>个人基本信息</b></td>
            </tr>
        </thead>
        <form method="post" action="adduserrun" >
        <tbody>
            <tr>
                <td>用户编号：</td>
                <td colspan="5">系统将自动生成</td>
            </tr>
            <tr>
                <td >用户名：<font color="FF0000">*</font></td>
                <td >
                    <input name="username" value="" type="text" placeholder="10位内非汉字且不能包含非法字符"/>
                </td>
                <td >姓名：<font color="FF0000">*</font></td>
                <td >
                    <input name="u_name" value="" type="text" placeholder="5位内姓名或学生组织名，全汉字"/></td>
                <td >性别：</td>
                <td >
                    <input name="u_sex" type="radio" value="男" checked="checked"/>  男
                    <input name="u_sex" type="radio" value="女"  />  女
                </td>
            </tr>
            <tr>
                <td >身份证号码：<font color="FF0000">*</font></td>
                <td >
                    <input name="user_id" value="" type="text" placeholder="18位全数字，最后一位可为X"/>
                </td>
                <td >所属单位：<font color="FF0000">*</font></td>
                <td ><select id='u_class' name="u_class" onchange="showCustomer(this.value)">
                        <option value="">未选择</option>
                        {volist name='data1' id='list'}
                        <option value="{$list.userid}">{$list.userinfo}</option>
                         {/volist}
                    </select>
                    </td>
                <td >所属单位名称：<font color="FF0000">*</font></td>
                <td>
                    <select name="u_classinfo" id="txtHint">
                    <option value="">未选择</option>
                        
                    </select>
                    
                    </td>
            </tr>
            <tr>
                <td >手机号码：<font color="FF0000">*</font></td>
                <td >
                    <input name="add" value="" type="text" placeholder="11位全数字"/>
                </td>
                <td >邮箱地址：</td>
                <td >
                    <input name="u_mail" value="" type="text" placeholder="邮箱格式"/></td>
                <td >QQ号码：</td>
                <td >
                    <input name="qq" value="" type="text" placeholder="仅支持5-11位全数字"/></td>
            </tr>
            <tr>
                <td >微信号码：</td>
                <td >
                    <input name="vx" value="" type="text" placeholder='支持字母、数字、"—"和"_"组合"'/>
                </td>
                <td >账号状态：</td>
                <td >
                <input name="state" type="radio" value="1" checked="checked"/>  启用
                <input name="state" type="radio" value="2"  />  停用
                </td>
                <td >账号权限：<font color="FF0000">*</font></td>
                <td >
                    <select class="qxinfo" name="jurisdiction">
                        <option value="">未选择</option>
                        <option value="2">学工处</option>
                        <option value="3">校团委</option>
                        <option value="4">分院院长</option>
                        <option value="5">分院团总支书记</option>
                        <option value="6">分院辅导员</option>
                        <option value="7">测评班长</option>
<!--                        <option value="8">学生组织(校级)</option>-->
                        <option value="9">公寓管理中心</option>
                        <option value="10">公寓楼长</option>
                        <option value="1">系统维护账号(请谨慎分配此权限账号)</option>
                        <option value="11">自定义权限</option>
                    </select>
                    </td>
            </tr>
            <tr>
                <td >所在班級：<font color="FF0000">*</font></td>
                <td >
                    <input disabled name="username" value="" type="text" placeholder="10位内非汉字且不能包含非法字符"/>
                </td>
            </tr>
            <tr class="diy-auth">
                <td >权限选择：<font color="FF0000">*</font></td>
                <td>
<!--                    <div style="margin:10px 0">-->
<!--&lt;!&ndash;                        选择模式的复选框代码&ndash;&gt;-->
<!--                        <input id="sl1" type="checkbox" value="S1" title="根据已有权限角色划分管辖范围"  />-->
<!--                        <input id="sl2" type="checkbox" value="S2" title="自定义该活权限的管辖范围" /></div>-->
<!--                    <div class="select1" style="margin:10px 0">-->
<!--&lt;!&ndash;                        两种选择模式的具体选择方式代码&ndash;&gt;-->
<!--                        <select class="jsinfo1" name="jsinfo1">-->
<!--                            <option value="">选择对应管辖学生范围的角色</option>-->
<!--                            <option value="2">学工处</option>-->
<!--                            <option value="4">分院院长</option>-->
<!--                            <option value="6">分院辅导员</option>-->
<!--                            <option value="7">测评班长</option>-->
<!--                            <option value="10">公寓楼长</option>-->
<!--                            <option value="1">系统维护账号(请谨慎分配此权限账号)</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="select2" style="margin:10px 0">-->
<!--                        <select class="jsinfo2" name="jsinfo2">-->
<!--                            <option value="">自定义该权限的管辖范围</option>-->
<!--                            <option value="2">性别</option>-->
<!--                            <option value="4">班级</option>-->
<!--                            <option value="6">寝室</option>-->
<!--                            <option value="7">公寓</option>-->
<!--                            <option value="10">分数</option>-->
<!--                        </select>-->
<!--                    </div>-->
                    <div>
                        <div style="margin:10px 0">
                             <input class="statu" id="frt" name="state1" type="checkbox" value="Person" title="一级：个人管理" />
                        </div>
                    <div id="secmod" class="Person" style="margin:10px 0">
                        <input name="state1" id="sec" class="Person" type="checkbox" value="P1" style="display: none" title="二级：个人信息" />
                        <input name="state1" id="sec" class="Person" type="checkbox" value="P2" title="二级：修改密码" />
                        <input name="state1" id="sec" class="Person" type="checkbox" value="P3" title="二级：个人操作日志" />
                    </div>
                    </div>
                    <div>
                        <div style="margin:10px 0">
                        <input id="frt" name="state1" type="checkbox" value="Stu" title="一级：学生管理" />
                        </div>
                        <div id="secmod" class="Stu" style="margin:10px 0" >
                            <input name="state1" id="sec" class="Stu" type="checkbox" value="S1" title="二级：添加学生"  />
                            <input name="state1" id="sec" class="Stu" type="checkbox" value="S2" title="二级：批量添加学生" />
                            <input name="state1" id="sec" class="Stu" type="checkbox" value="S3" title="二级：学生检查" />
                        </div>
                    </div>
                    <div>
                        <div style="margin:10px 0">
                        <input id="frt" name="state1" type="checkbox" value="Userr" title="一级：用户管理" />
                        </div>
                        <div id="secmod" class="Userr" style="margin:10px 0" >
                            <input name="state1" id="sec" type="checkbox" value="U1" title="二级：添加用户" />
                            <input name="state1" id="sec" type="checkbox" value="U2" title="二级：批量添加用户" />
                            <input name="state1" id="sec" type="checkbox" value="U3" title="二级：批量添加寝室" />
                            <input name="state1" id="sec" type="checkbox" value="U4" title="二级：查看用户" />
                        </div>
                    </div>
                    <div>
                        <div style="margin:10px 0">
                        <input name="state1" id="frt" type="checkbox" value="Score" title="一级：学分操作" />
                        </div>
                        <div id="secmod" class="Score" style="margin:10px 0" >
                            <input name="state1" id="sec" type="checkbox" value="SC1" title="二级：学分操作" />
                            <input name="state1" id="sec" type="checkbox" value="SC2" title="二级：待审核操作" />
                        </div>
                    </div>
                    <div>
                        <div style="margin:10px 0">
                        <input name="state1" id="frt" type="checkbox" value="Sparam" title="一级：系统参数设置" />
                        </div>
                        <div id="secmod" class="Sparam" style="margin:10px 0" >
                            <input name="state1" id="sec" type="checkbox" value="SP1" title="二级：学分操作管理" />
                            <input name="state1" id="sec" type="checkbox" value="SP2" title="二级：部门/单位信息管理" />
                            <input name="state1" id="sec" type="checkbox" value="SP3" title="二级：班级信息管理" />
                            <div id="secmod" class="Sparam" style="margin:10px 0">
                            <input name="state1" id="sec" type="checkbox" value="SP4" title="二级：公寓信息管理" />
                            <input name="state1" id="sec" type="checkbox" value="SP5" title="二级：辅导员信息管理" />
                            <input name="state1" id="sec" type="checkbox" value="SP6" title="二级：专业信息管理" />
                            <input name="state1" id="sec" type="checkbox" value="SP7" title="二级：学院信息管理" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="margin:10px 0">
                        <input name="state1" id="frt" type="checkbox" value="Logs" title="一级：日志管理" />
                        </div>
                        <div id="secmod" class="Logs" style="margin:10px 0">
                            <input name="state1" id="sec" type="checkbox" value="L1" title="二级：系统操作日志" />
                            <input name="state1" id="sec" type="checkbox" value="L2" title="二级：学分操作日志" />
                        </div>
                    </div>
                    <input id='confirm' class="layui-btn layui-btn-normal" value="确认" />
                </td>
            </tr>
            <tr></tr>
            <input type="hidden" value="123456" name="password" ></input>
            <input type="hidden" value="" name="allfrt" class="allfrt" ></input>
            <input type="hidden" value="" name="allsec" class="allsec"></input>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
<!--                    <a href="help" class="btn btn-inverse">保存</a>-->
                    <input class="layui-btn layui-btn-normal" type="submit" value="提交" />
                    <input class="layui-btn layui-btn-normal" type="reset" value="清空" />
<!--                     <input class="btn btn-inverse" type="button" value="取消" /></td> -->
     &nbsp&nbsp&nbsp&nbsp添加的新用户初始密码为：123456，请及时通知用户及时登录系统修改密码。
            </tr>
        </tfoot>
    </form>
    </table>
    </div>
<!--    </div>-->
</body>
</html>
