<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <!-- UNIFIED -->
    <meta charset="utf-8">
  
    <title>学生查询</title>
    <link rel="shortcut icon" href="../../logo.ico" />
<!--    <link rel="stylesheet" href="/css/bootstrap.css" >-->
    <link rel="stylesheet" href="/css/xg.css"  >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <style type="text/css">
    .imgPlace{ position:relative; top:25px; left:10px;}

    </style>
</head>
<body>
<script>
    $('document').ready(function () {
        $('#ctrl').hide();
        $('#type').change(function () {
            console.log($('#type').val());
            if ($('#type').val()=='2'){
                $('#ctrl').hide();
                // $('#grade').attr({"readonly":"readonly"})
                // $('#term').attr({"readonly":"readonly"})
                // $('#enrol').attr({"readonly":"readonly"})
            }else if($('#type').val()=='1'){
                $('#ctrl').show();
                // $('#grade').attr({"readonly":""})
                // $('#term').attr({"readonly":""})
                // $('#enrol').attr({"readonly":""})
            }
        })
    })
</script>
<!-- 内容区 -->
<br>&nbsp&nbsp&nbsp
<img src="/images/logo1.png" /><img src="/images/logo2.png" class="imgPlace"/>
<div class="container xg-bybd aiui ">
    <div class="sys-name"></div>
    <div class="row">
        <div class="col-md-2 col-sm-3 step">
            <h3>学生学分查询</h3>
            <div style="margin-left: 40px">
                <h6 style="font-size: medium">阅读注意事项<br/>填写学生信息</h6>
            </div>

<!--            <ul>-->
<!--                <li class="choice"  ><div class="clearfix"><span class="pull-left nav-adorn"></span><span class="pull-left words">阅读注意事项<br/>填写学生信息</span></div></li>-->
<!--            </ul>-->
            
            <a class="refer-btn" href="{:url('Admin/login')}">返回系统登陆</a>
        </div>
        <div class="col-md-10 col-sm-9">
            <div class="r-content">
                <em>各位同学：</em>
                <p>为了简化程序，方便同学随时随地可以查询个人学分情况，本系统开通了学生网上学分查询系统。现将有关事项通知如下：</p>
                <p>一、查询到的数据可能存在延迟。</p>
                <p>二、如认为个人学分有误，可通过查看学分具体操作流水号，通过编号向辅导员说明情况等待复议。</p>
                <div class="row form-s1 checkid">
                	<form action="scorecheck" method="post">
                    <div class="col-sm-4 col-md-2"><label>学生信息：</label></div>
                    <div class="col-sm-8 col-md-3"><input class="form-control" placeholder="请输学号"  type="text" value="" name="u_id"></div>
                    <div class="col-sm-8 col-md-3"><input class="form-control" placeholder="请输身份证号码"  type="text" value="" name="proid" maxlength="18"></div>
                        <div class="col-sm-8 col-md-3"><select class="form-control" id="type" name="type">
                            <option value="">是否开启单一学期查询</option>
                            <option value="1">开启</option>
                            <option value="2">关闭</option>
                        </select></div>
<!--                        <input  placeholder="请输身份证号码"  type="text" value="" name="proid" maxlength="18" hidden>-->
                        <br><br>
                        <div id="ctrl">
                        <div class="col-md-2"> <label >学期信息：</label></div>
                        <div class="col-sm-8 col-md-3 col-xs-5">
                        <select class="form-control" id="grade" name="grade">
                        <option value="0">大一</option>
                        <option value="1">大二</option>
                        <option value="2">大三</option>
                            <option value="3">大四</option>
                    </select></div>
                        <div class="col-sm-8 col-md-3 col-xs-5">
                            <select class="form-control" id="enrol" name="enrol">
                                <option value="2017">未选择</option>
                                <option value="2017">2017届</option>
                                <option value="2018">2018届</option>
                                <option value="1920">2019届</option>
                                <option value="2020">2020届</option>
                            </select></div>
                        <div class="col-sm-8 col-md-3 col-xs-5">
                            <select class="form-control" id="term" name="term">
                                <option value="0,8">上学期</option>
                                <option value="1,3">下学期</option>
                            </select></div>
                        </div>
                        <br>
                        <br>
                    <div  align="center"><button type="submit" class="btn btn-default blue30 btn-blue ">&nbsp&nbsp&nbsp查询学分&nbsp&nbsp&nbsp</button></div>
                </form>
                <div class="remark mt20 row">
                    <div class="col-sm-3  col-xs-1 text-right">注:</div>
                    <div class="col-xs-10 col-sm-9">
                      <p>1、请填写真实、有效的学生学号</p>
                      <p>2、请填写真实、有效的第二代身份证号码</p>
                      <p>3、核对无误后开始查询</p> 
                                  
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    //     $('.selectpicker').selectpicker({
    //     });
    //
    //     $('.selectpicker').val('Mustard');
    //     $('.selectpicker').selectpicker('render');
    // });
</script>
<script src="..//js/jquery-1.7.1.min.js"></script>
<script src="..//js/bootstrap.min.js"></script>
<script src="..//js/datepicker/laydate.js"></script>
</body>
</html>